# langchain and integrations: 
langchain-community

# langchain core
langchain
langchain-core

#lagchain semantic kernels i used this lib will be the reason for some issues
langchain-experimental

#langchain for text splitting we have to add this
langchain-text-splitters

#Hugging facehub integration
langchain-huggingface
transformers
huggingface-hub
torch
#senetence transformer for embeddings
sentence-transformers

#Environment variables
python-dotenv

# #machne learning utils 
# scikit-learn
numpy
pandas

#pydantic for structured output
pydantic

#graph representation of chains
grandalf

# Beautifulsoup for web scraping
bs4
requests

#Pypdf lib
pypdf

#To access Chroma vector stores you’ll need to install the langchain-chroma integration package.
chromadb
